body {
  width: 100%;
  height: 100%;
  margin: 0;
}
h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
 
nav{
  display: flex;
  justify-content: center;
  
}
a[href="index.html"]{
margin-inline: 20px;
}

a [href="new-properties.html"]{
  margin-inline: 20px;
}
a[href="real-estate-listings.html"]{
  margin-inline: 20px;
}
a[href="market-report.html"]{
  margin-inline: 20px;
}
a[href="contact.html"]{
  margin-inline: 20px;
}
a[ href="http://hud.gov"]{
  margin-inline: 20px;
}
footer{
  background-color: rgb(255, 2, 2);
  display: flex;
  justify-content: space-around;
}
.div1{
text-align: center;
}
.div2{
  text-align: center;
}
.div3{
  text-align: center;
}
.div4{
  text-align: center;
}
figure{
  text-align: center  ;
}
section p {
  text-align: center;
}